<template>
  <div>
    <input type="checkbox" id="aliveToggle" v-model="alive">
    <label for="aliveToggle">Alive</label>
  </div>
</template>


<script>
import { SET_ALIVE } from '../store/modules/mutation-types';

export default {
  computed: {
    alive: {
      get() {
        return this.$store.state['Proxies'].isAlive;
      },
      set(newValue) {
        this.$store.commit(`Proxies/${SET_ALIVE}`, newValue);
      }
    }
  }
};
</script>


<style scoped>
</style>