<template>
  <select v-model="country">
     <option value="" disabled selected>Select country</option>
    <option v-for="(item,index) in countriesList" :key="index">{{item}}</option>
  </select>
</template>


<script>
import { SET_COUNTRY } from '../store/modules/mutation-types';

export default {
  computed: {
    countriesList(){
      return this.$store.getters['Proxies/countriesList'];
    },
    country: {
      get() {
        return this.$store.state['Proxies'].country;
      },
      set(newValue) {
        this.$store.commit(`Proxies/${SET_COUNTRY}`, newValue);
      }
    }
  }
};
</script>


<style scoped>
</style>