<template>
  <main>
    <table>
        <thead>
          <tr>
            <th>Host</th>
            <th>Port</th>
            <th>Country</th>
            <th>Alive</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
            <tr v-for="(proxie, index) in proxies" :key="index">
              <td>{{proxie.host}}</td>
              <td>{{proxie.port}}</td>
              <td>{{proxie.country}}</td>
              <td>{{proxie.alive}}</td>
               <td>{{proxie.proxy_type}}</td>
            </tr>
        </tbody>
    </table>
  </main>
</template>


<script>
export default {
  computed: {
    proxies() {
      return this.$store.getters['Proxies/filteredList'];
    }
  }
};
</script>


<style scoped>
    table{
      width: 100%;
    }

    th{
      text-align: left;
      padding-bottom: 0.5rem;
      width: 15%;
    }

    th:first-child{
      width: 40%;
    }
</style>