<template>
  <div>
    <div v-for="(proxieType, index) in proxieTypes" :key="index">
      <input type="checkbox" :id="`type-${index}`" v-model="types" :value="proxieType.value">
      <label :for="`type-${index}`">{{proxieType.label}}</label>
    </div>
  </div>
</template>


<script>
import { SET_TYPES } from '../store/modules/mutation-types';

export default {
  data() {
    return {
      proxieTypes: [
        {
          label: "SSL",
          value: 0
        },
         {
          label: "FTP",
          value: 1
        },
         {
          label: "HTTP",
          value: 2
        },
         {
          label: "SOCKS",
          value: 3
        },
         {
          label: "Anonymous",
          value: 4
        }
      ],
    };
  },
  computed: {
    types: {
      get() {
        return this.$store.state['Proxies'].types;
      },
      set(newValue) {
        this.$store.commit(`Proxies/${SET_TYPES}`, newValue);
      }
    }
  }
};
</script>


<style scoped>
</style>