<template>
  <div id="app">
    <section class="filters">
      <countryFilter></countryFilter>
      <typeFilter></typeFilter>
      <aliveFilter></aliveFilter>
    </section>
    <proxiesList></proxiesList>
  </div>
</template>

<script>
import aliveFilter from './components/aliveFilter'
import countryFilter from './components/countryFilter'
import proxiesList from './components/proxiesList'
import typeFilter from './components/typeFilter'
import { mapActions } from 'vuex';
import { GET_PROXIES } from './store/modules/action-types.js';

export default {
    name: 'app',
    components: {
      aliveFilter,
      countryFilter,
      proxiesList,
      typeFilter
    },
    methods: {
    ...mapActions({
      getProxies: `Proxies/${GET_PROXIES}`,
    }),
  },
  created() {
    this.getProxies();
  },
}
</script>

<style>
#app {
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
}

.filters {
  width: 25%;
  min-width: 150px;
  min-height: 100vh;
  border-right: 2px solid gray;
  padding-right: 0.5rem;
}

.filters>* {
  margin-bottom: 2rem;
  padding-bottom: 2px;
}

main {
  width: 75%;
  padding: 0 0.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Heebo', Helvetica, Arial, sans-serif;
  text-overflow: ellipsis;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f7fa;
}

select {
  font-size: 1rem;
}

label {
  font-size: 1.25rem;
  font-weight: 500;
  margin-left: 0.5rem;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }

  main {
    width: 100%;
  }

  #app {
    padding: 2%;
  }

  .filters {
    min-height: unset;
    border-right: none;
  }
}
</style>
